<header class="header">
  <mat-toolbar class="header-toolbar" color="primary">
    <ng-content></ng-content>

    <ng-container *ngIf="mobileQuery.matches">
      <div class="header-toolbar__separator"></div>
      <znb-global-amount></znb-global-amount>
    </ng-container>

    <ng-container *ngIf="!mobileQuery.matches">
      <div class="header-toolbar__separator"></div>
      <znb-global-amount></znb-global-amount>
      <znb-logo class="header-toolbar__logo"></znb-logo>
    </ng-container>
  </mat-toolbar>
</header>
