@import "~styles/styles";

.header {
  &-toolbar{
    display: flex;
    align-items: center;
    height: $header-height;
    &__logo{
      justify-self: flex-end;
      margin: 5px;
    }
    &__separator {
      flex: 1 1;
    }
  }
}
