@import '~styles/styles';

.logo {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $white;
    border-radius: 5px;
    font-size: $fs-24;
    font-weight: bold;
    color: $white;
  }
}
