<div class="new-credit">
  <mat-icon aria-hidden="false" aria-label="close create user dialog" class="new-credit__close" (click)="close()">close</mat-icon>

  <div class="title">
    Solicita tu credito
  </div>
  <div class="content">
    <div class="amount-selector">
      <znb-amount-slider (amount)="updateAmountFormValue($event)"></znb-amount-slider>
    </div>
    <div class="wrapper">
      <form class="form" [formGroup]="newCreditForm" #formDirective (ngSubmit)="createUserCredit(formDirective)">
        <mat-form-field class="form-group" *ngIf="newCreditForm.get('paymentDate') as paymentDate">
          <mat-label>¿Cuando puedes pagar?</mat-label>
          <input
            matInput
            type="text"
            autocomplete="nope"
            placeholder="mm/dd/yyyy"
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
            formControlName="paymentDate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button class="form-button" type="submit" mat-raised-button color="primary" [disabled]="newCreditForm.invalid" >Solicitar</button>
      </form>
    </div>
  </div>
</div>

