<div class="public-layout">
  <znb-header class="public-layout__header">
    <button mat-icon-button (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
  </znb-header>
  <mat-sidenav-container class="public-layout__container" opened>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" >
      <znb-navigation></znb-navigation>
    </mat-sidenav>
    <!-- </mat-sidenav-content> -->
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <znb-footer></znb-footer>
</div>

