// Define some color variables here

@import '~@angular/material/theming';

$white: white;
$dark: #434245;

// Define palette
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-blue-grey);
$warn: mat-palette($mat-red);
$orange: mat-palette($mat-orange);

// Create the theme
$theme: mat-light-theme($primary, $accent, $warn);
