// Define some color variables here
// TODO: Try to get variable colors from material theme

@import '~@angular/material/theming';

$white: white;
$dark: #434245;

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
