// Define global variables here

$header-height: 60px;
$footer-height: 20px;

// Fornt Family

$family-primary: Roboto, sans-serif;
$family-secondary: Lato, sans-serif;

// Abstract Font Sizes
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;
$fs-36: 36px;

// breakpoints
$screen-small: 600px;
$screen-medium: 900px;
$screen-large: 1200px;
