// Define global variables here

// Fornt Family

$family-primary: Roboto, sans-serif;
$family-secondary: Lato, sans-serif;

// Abstract Font Sizes
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;