@import '~styles/styles';

:host {
  position: relative;
}

.confirm-payment {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;

  &__close {
    position: absolute;
    top: -10px;
    right: -10px;
    &:hover{
      cursor: pointer;
    }
  }

  .title{
    font-size: $fs-24;
    font-weight: bold;
    color: mat-color($primary);
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .text {
    font-size: $fs-16;
    font-weight: bold;
    color: mat-color($primary);
    margin-top: 30px;
  }

  .buttons {
    margin-top: 30px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    &__item {
      margin-left: 20px;
    }
  }
}

@include lt-small(){
  .confirm-payment {
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $white;
    }

    .title{
      font-size: $fs-18;
      color: mat-color($primary);
      background-color: mat-color($primary);
      color: $white;
      width: 100%;
      padding: 20px;
    }

    .content {
      padding: 20px;
    }

    .text {
      margin-top: 10px;
      width: 100%;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-self: center;
      &__item {
        width: 100px;
        margin-left: 5px;
      }
    }
  }
}
