@import '~styles/styles';
.approved-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - (#{$header-height} + #{$footer-height}));
  padding: 50px 70px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    &__back {
      display: flex;
      align-self: flex-start;
      align-items: center;
      font-size: $fs-24;
      font-weight: bold;
      font-family: $family-secondary;
      color: mat-color($primary);
      margin-bottom: 20px;
      &:hover {
        color: mat-color($accent);
      }
    }

    &__title {
      font-size: $fs-36;
      font-weight: bold;
      font-family: $family-secondary;
      color: mat-color($primary);
      align-self: flex-start;
    }
    .buttons {
      display: flex;
      align-self: flex-end;
      margin-top: 20px;
      &__item {
        margin-left: 10px;
      }
    }
  }

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    &__table {
      height: 100%;
    }
    .actions {
      display: flex;
      button {
        margin: 0 3px;
      }
    }
    .chip {
      &-color {
        &--paid {
          background-color: mat-color($mat-green, 600);
          color: $white;
        }
        &--unpaid {
          background-color: mat-color($warn);
          color: $white;
        }
      }
    }
  }
}

@include lt-small() {
  .approved-list {
    padding: 20px 16px;
    .header {
      margin: 0;
      &__title {
        display: none;
      }
      &__back {
        margin-bottom: 5px;
        font-size: $fs-16;
      }
      .buttons {
        margin-bottom: 15px;
        align-self: center;
        &__item {
          margin: 0 3px;
        }
      }
    }

    .container {
      height: calc(100vh - 180px - (#{$header-height} + #{$footer-height}));
    }
  }
}
