<div class="approved-list">
  <div class="header">
    <div class="header__back" href="javascript:void(0)" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      Regresa
    </div>
    <span class="header__title">Listado de creditos aprobados</span>
    <div class="buttons">
      <button class="buttons__item" mat-raised-button (click)="togglePaidCreditsVisibility()">
        Ver todos
      </button>
      <button class="buttons__item" mat-raised-button (click)="togglePaidCreditsVisibility('paid')">
        Solo Pagados
      </button>
      <button class="buttons__item" mat-raised-button (click)="togglePaidCreditsVisibility('unpaid')">
        Sin Pagar
      </button>
    </div>
  </div>

  <div class="container">
    <znb-table
      class="container__table"
      [dataSource]="credits"
      [fieldDefinitions]="fieldDefinitions"
      [templateDefinitions]="{
        indexCell: indexCell,
        regularCell: regularCell,
        actionCell: actionCell,
        chipCell: chipCell
      }"
      bannerMsg="Esta lista contiene todos los creditos aprobados, puedes filtrar los datos pulsando los botones de la parte superior"
    ></znb-table>

    <!-- Templates for cells -->

    <!-- Index Cell -->
    <ng-template #indexCell let-idx="idx">
      {{ idx + 1 }}
    </ng-template>

    <!-- Regular Cell: for only display string data -->
    <ng-template #regularCell let-field="field" let-row="row">
      {{ field.getData(row) }}
    </ng-template>

    <!-- Chip Cell: for only display string data in a chip -->
    <ng-template #chipCell let-field="field" let-row="row">
      <mat-chip-list>
        <mat-chip
          class="chip"
          [ngClass]="{
            'chip-color--paid': row?.paid,
            'chip-color--unpaid': !row?.paid
          }">{{ field.getData(row) }}</mat-chip>
      </mat-chip-list>
    </ng-template>

    <!-- Action Cell: contain action buttons -->
    <ng-template #actionCell let-field="field" let-row="row">
      <div class="actions">
        <button (click)="payDebt(row)" mat-mini-fab matTooltip="Pagar credito" [disabled]="row.paid" >
          <mat-icon>payment</mat-icon>
        </button>
      </div>
    </ng-template>
  </div>
</div>

