@import "~styles/styles";

.navigation {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;

    &:hover {
      background-color: mat-color($accent);
      color: mat-color($accent,A100);
    }

    &-icon {
      margin-right: 5px;
    }

    &--active {
      background-color: mat-color($accent);
      color: mat-color($accent,A100);
    }
  }
}