/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import '~styles/styles';

@include mat-core();
@include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $family-primary;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: $fs-14;
  font-weight: bold;
  color: mat-color($accent,600);
  &:hover{
    color: mat-color($accent,800);
  }
}