/* You can add global styles to this file, and also import other style files */

/* Adding Material Theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Import Variables */
@import '~styles/styles';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $family-primary;
}