@import "~styles/styles";
.main-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - ( #{$header-height} + #{$footer-height} ));
  padding: 50px 70px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    &__title{
      font-size: $fs-36;
      font-weight: bold;
      font-family: $family-secondary;
      color: mat-color($primary);
    }
  }

  .container {
      display: flex;
      height: 100%;
      flex-direction: column;
      &__table {
        height: 100%;
      }
      .actions{
        display: flex;
        button {
          margin: 0 3px;
        }
      }

      .chip {
        &-color{
          &--approved{
            background-color: mat-color($mat-green, 600);
            color: $white;
          }
          &--rejected{
            background-color: mat-color($warn);
            color: $white;
          }
        }
      }
  }
}

@include lt-small(){
  .main-list {
    padding: 20px 16px;
    .header {
      margin: 0;
      &__title{
        display: none;
      }
      &__button {
        position: fixed;
        bottom: 70px;
        right: 20px;
        z-index: 2;
      }
    }

    .container {
      height: calc(100vh - 80px - ( #{$header-height} + #{$footer-height} ));
    }
  }
}